#countcard{  
  background-color: #ffff4d;
  box-shadow: 12px 12px 24px 12px rgba(0, 0, 0, 0.2);
  max-width: 60rem;
  height: 35rem;  
  margin: auto;
  text-align: center;
  margin-top: 8rem;
  padding-bottom: 75px;
  display: flex;
  margin-bottom: 6rem;
}
.battleprofile{  
  margin-top: 13rem;
  width:100%;
  display: inline;
}
.battleprofile h1 h3{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
#countcard button{
  border-radius: 50px;
  background-color: #000;
  max-width: 200px;
  border: none;
  padding: 12px;
  font-size: 20px;  
  margin-top: 40px;
  color: white;
}
#countcard button:hover{  
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}
#countbackbtn{
  width:15%;
  border-radius: 10px;
  border: none;
  font-size: 45px;
  padding: 6px; 
  text-align: right;
  margin-bottom: -7rem;
  margin-top:2rem;
}
#countcard #overlay{
   background: -moz-linear-gradient(top, rgba(34, 31, 31, 1) 0%, rgba(34, 31, 31, 0) 100%);
    /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(34, 31, 31, 1) 0%, rgba(34, 31, 31, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(34, 31, 31, 1) 0%, rgba(34, 31, 31, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0);
    /* IE6-9 */
     height: 100%;
     position: absolute;
     z-index: 3;
     top: 0;
     left: 0;
     width: 100%;
     transform: rotate(180deg);
}